.accordion__top-title {
    color: #FFF;
text-align: left;
font-family: 'getVolp';
font-size: 40px;
font-style: normal;
font-weight: 700;
display: inline;
line-height: 36px; /* 90% */
}

.answers__list {
    padding: 60px 270px;
}

.answers__title {
    width: 100%;
    background-color: var(--lightBlue);
    padding: 45px;
    color: #FFF;
text-align: center;
font-family: 'getVolp';
font-size: 75px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 48% */
}

.accordion__top {
    justify-content: space-between;
    padding: 35px;
    align-items: center;
}

.accordion__top:not(:first-child) {
    margin-top: -1px;
}

.answers__item:not(:first-child) .accordion__top{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.answers__item:first-child .accordion__top {
    border-bottom: 1px solid #fff;
}


.accordion__bottom {
    padding: 50px;
}

.accordion__bottom-text {
    color: var(--white);
    text-align: justify;
    font-family: 'getVolp';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

@media (max-width: 1600px) {
    .answers__title {
        font-size: 50px;
    }

    .answers__list {
        padding: 60px;
    }

    .accordion__bottom-text {
        font-size: 20px;
        line-height: 30px;
    }
    .accordion__bottom {
        padding: 30px;
    }
}

@media (max-width: 1400px) {
    .answers__title {
        font-size: 35px;
    }

    .accordion__top-title {
        font-size: 30px;
    }

    .accordion__bottom-text {
        font-size: 18px;
        line-height: 27px;
    }

    .answers__list {
        padding: 20px;
    }
}

@media (max-width: 1000px) {
    .accordion__top-btn svg {
        width: 40px;
    }
}

@media (max-width: 600px) {
    .accordion__top-title {
        font-size: 16px;
        line-height: 24px;
    }

    .accordion__bottom-text {
        font-size: 12px;
    }

    .accordion__bottom {
        padding: 10px;
    }
    .answers__list {
        padding: 10px;
    }

    .accordion__top-btn svg {
        width: 25px;
    }

    .accordion__top {
        padding: 10px;
    }
}
