.header {
    position: fixed;
    padding: 3px 15px;
    max-height: 80px;
    height: 100%;
    z-index: 999999;
    background-color: var(--darkBlue);
    width: 100%;
}

.header__link-tohome {
    position: absolute;
}

.header__list {
    align-items: center;
}

.header__nav {
    margin: 0 auto;
    align-self: center;
}

.header__link {
    font-family: 'getVolp';
    padding: 10px;
    border: 3px solid var(--white);
    border-radius: 100px;
    color: var(--white);
}

.header__item:not(:last-child) {
    margin-right: 34px;
}

@media (max-width: 1600px) {
    .header__item:not(:last-child) {
        margin-right: 10px;
    }
}

@media (max-width: 600px) {
    .header__nav .header__link {
        font-size: 13px;
    }
}