.hero {
    padding: 80px 0 0;
    justify-content: center;
}
 

.hero__man-div {
    background-image: url('../img/hero/hero__logo.svg');
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: 50% 75%;
    max-width: 50%;
    padding: 0 130px;
    text-align: -webkit-center;
    z-index: -1;
    align-self: flex-end;
}

.hero__man {
    margin-bottom: -20px;
}

.hero__info {
    padding: 140px 70px 105px 65px;
    max-width: 50%;
}

.hero__money {
    color: #FFF;
    font-family: 'getVolp';
    text-align: center;
    background-color: #5D88CA;
    padding: 115px 27px 0 50px;
    border-radius: 127px;
    font-size: 95px;
    font-style: normal;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 25px;
}

.header__burger {
    display: none;
  }

.hero__money::before {
    font-size: 95px;

    content: 'Мы заплатим';
    position: absolute;
    height: 92%;
    top: 4%;
    left: 2%;
    right: 2%;
    padding: 15px 0 0 0;
    border-radius: 127px;
    z-index: 1;
    background-color: var(--lightBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 127px;
    -moz-border-radius: 127px;
    -ms-border-radius: 127px;
    -o-border-radius: 127px;
}

.hero__money::after {
    content: "";
    width: 200%;
    height: 1000%;
    position: absolute;
    border-radius: 127px;
    background: conic-gradient(var(--lightBlue) 80.59%, #fff 90%);
    animation: border-animation 2s linear infinite;
    -webkit-animation: border-animation 2s linear infinite;
}

@keyframes border-animation {
    25% {
        transform: rotate(66deg);
        -webkit-transform: rotate(66deg);
        -moz-transform: rotate(66deg);
        -ms-transform: rotate(66deg);
        -o-transform: rotate(66deg);
    }
    40% {
        transform: rotate(100deg);
        -webkit-transform: rotate(100deg);
        -moz-transform: rotate(100deg);
        -ms-transform: rotate(100deg);
        -o-transform: rotate(100deg);
    }
    75% {
        transform: rotate(260deg);
        -webkit-transform: rotate(260deg);
        -moz-transform: rotate(260deg);
        -ms-transform: rotate(260deg);
        -o-transform: rotate(260deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    } 


}


.hero__text {
    color: var(--white);
    padding-right: 27px;
    text-align: right;
    font-family: 'getVolp';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px
}

.hero__text span {
    font-size: 82px;
    display: block;
}

@media (max-width: 1600px) {
    .hero__text {
        font-size: 42px;
        line-height: 56px;
    }

    .hero__text span {
        font-size: 62px;
    }

    .hero__money {
        font-size: 62px;
    }

    .hero__money::before {
        font-size: 62px;
    }
}

@media (max-width: 1400px) {
    .hero__money::before {
        padding: 15px 0 0 0;
    }

    .hero__money {
        padding: 30px 10px;
    }

    .hero__info {
        padding: 170px 0px 55px 0px;
    }

    .hero__money::before {
        font-size: 57px;
    }

    .hero {
        padding: 60px 15px 0;
    }

    .hero__man-div {
        padding: 0;
        background-size: 95%;
        background-position: 50% 65%;
    }

    .hero__text {
        font-size: 35px;
        line-height: 46px;
    }

    .hero__text span {
        font-size: 48px;
    }

    .header__link-tohome {
        position: relative;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .header__nav {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        /* min-width: 320px; */
        max-width: 100%;
        width: 100%;
        height: 120vh;
        z-index: 1000;
        padding: 117px 50px 50px 48px;
        box-shadow: 0 0 5px #888;
        background-color: var(--white);
        overflow-y: auto;
        visibility: hidden;
        transform: translateY(-120%);
        transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
        margin: 0;
        background-color: var(--black);
        opacity: 0.9;
        flex-direction: column;
      }
    
      .header__bottom {
        display: none;
      }
    
      .swiper.hero__swiper {
        top: 0;
      }
    
      .header__nav .header__list {
        flex-direction: column;
        margin-left: 0;
      }
    
      .header__nav .header__item {
        margin-right: 0;
        align-self: auto;
      }
    
      .header__nav .header__item {
        margin-bottom: 39px;
      }
    
      .header__nav .header__link {
        font-size: 24px;
        line-height: 29px;
        /* padding: 0; */
        /* font-family: ""; */
      }
    
      .header__nav-active {
        visibility: visible;
        transform: none;
      }
    
      .header__burger {
        display: inline-block;
        position: relative;
        width: 28px;
        height: 28px;
        color: var(--white);
        align-self: center;
      }
    
      .header__list {
        align-items: flex-start;
      }

      .stop-scroll {
        overflow: hidden;
      }

      .burger-line {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 28px;
        height: 4px;
        background: currentcolor;
        border-radius: 50px;

      }
    
      .header__burger-active .burger-line:nth-child(2) {
        opacity: 0;
      }

      .header__burger .burger-line:first-child {
        top: 3px;
      }

      .header__burger .burger-line:nth-child(2) {
        top: calc(50% - 2px);
      }

      .header__burger .burger-line:last-child {
        bottom: 3px;
      }
    
      .header__burger-active .burger-line:first-child {
        left: -10%;
        top: 45%;
        transform: rotate(45deg);
        transform-origin: center;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
          left 0.3s ease-in-out;
    
        z-index: 1001;
      }
    
      .header__burger-active .burger-line:last-child {
        bottom: auto;
        left: -10%;
        top: 45%;
        transform: rotate(-45deg);
        transform-origin: center;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
          left 0.3s ease-in-out;
        z-index: 1001;
        width: 100%;
      }
}

@media (max-width: 1000px) {
  .hero {
    flex-direction: column;
    padding: 60px 0;
  }

  .hero__info, .hero__man-div {
    width: 100%;
    max-width: 100%;
    background-size: 80%;
}

  .hero__info {
    padding: 0;
  }

  .hero__text {
    text-align: center;
  }
}


@media (max-width: 600px) {
  .hero__money, .hero__money::before {
    font-size: 37px;
  }

  .hero__money::before {
    padding: 0;
}

  .hero__money::before {
    content: 'Мы заплатим';
  }

     .header .header__linkToHome { 
         width: 40px;
     }

  .hero__text {
    font-size: 33px;
    line-height: 26px;
    padding: 0;
  }

  .hero__text span {
    font-size: 34px;
    line-height: 46px;
}

  .header__nav .header__link {
      font-size: 13px;
  }
}