.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    opacity: 0;
    z-index: 999999;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.modal::before {
    content: "";
    vertical-align: middle;
    height: 100%;
}

.modal__container {
    position: relative;
    display: block;
    width: 730px;
    /* min-height: 400px; */
    margin: 50px auto;
    border-radius: 35px;
    background-color: #fff;
    cursor: default;
}

.modal.is-open {
    opacity: 1;
    visibility: visible;
    transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal__container.modal-open {
    display: inline;
    align-items: flex-start;
    justify-content: flex-end;
}

.fade {
    opacity: 0;
}

.fade.animate-open {
    opacity: 1;
    transition: opacity var(--transition-time);
}

.fadeInUp {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
    opacity: 1;
    transform: translateY(0);
    transition: opacity var(--transition-time), transform var(--transition-time);
}

.content {
    min-height: 200vh;
}

.disable-scroll {
    position: relative;
    overflow: hidden;
    scroll-behavior: auto;

    width: 100%;
}

.modal-title {
    color: #285497;
    font-family: 'getVolp';
    font-size: 54px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.inputBox {
    position: relative;
    width: 100%;
    height: 46px;
    margin-bottom: 35px;
    border-radius: 10px;
    background: #E6EFFD;
}

.inputBox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    background: transparent;
    padding: 10px;
    border-radius: 0px;
    box-sizing: border-box;
    outline: none;
    color: var(--black, #333);
    font-size: 20px;
    font-family: "getVolp";
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 100%;
}

.inputBox span {
    position: absolute;
    top: 1px;
    left: 1px;
    display: inline-block;
    padding: 10px;
    color: #b0b0b0;
    font-size: 14px;
    font-family: "Monteserrat";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-weight: 300;
    transition: 0.5s;
    pointer-events: none;
    color: rgba(40, 84, 151, 0.20);
    font-family: 'getVolp';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.inputBox input:focus~span,
.inputBox input:valid~span {
    color: rgba(40, 84, 151, 0.20);
    font-family: 'getVolp';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: translateX(-2px) translateY(-25px);
}

.modal-content {
    padding: 65px 60px;
    text-align: center;
}




.modal__submit {
    color: #FFF;
    font-family: 'getVolp';
    padding: 30px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 100px;
border: 7px solid #FFF;
background: linear-gradient(180deg, #FF9D00 0%, #F73C5C 100%);
}

.modal-cancel {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline;

    /* black */

    color: #333333;
}

@media (max-width: 1000px) {
    .modal-title {
        font-size: 34px;
    }

    .inputBox span {
        top: 6px;
        font-size: 20px;
    }

    .modal__submit {
        padding: 15px 25px;
        font-size: 20px;
    }

    .modal-content {
        padding: 30px;
    }

    .modal__container {
        width: 450px;
    }

    .modal__container svg {
        width: 40px;
        height: auto;
    }

    .modal-close {
        right: 15px;
        top: 15px;
    }
}


@media (max-width: 600px) {
    .modal__container {
        width: 300px;
        border-radius: 9px;
    }

    .modal-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .modal__container svg {
        width: 35px;
        height: auto;
    }

    .modal-close {
        right: 5px;
        top: 5px;
    }

    .modal-content {
        padding: 22px 16px;
    }

    .inputBox input:focus~span,
.inputBox input:valid~span {
    transform: translateX(-2px) translateY(-30px);
}

    .inputBox {
        margin-bottom: 20px;
    }

    .inputBox input {
        font-size: 13px;
    }

    .inputBox span {
        top: 8px;
        font-size: 13px;
    }
}