.qanda__list {
    flex-wrap: wrap;
    background-image: url('../img/qanda/qanda__bg.png');
    background-position: center;
    background-repeat: no-repeat;
}

.qanda__item {
    width: 33.33%;
    justify-content: center;
    display: flex;
    padding: 100px;
    align-items: center;
    color: #FFF;
text-align: center;
font-family:  'getVolp';
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.qanda__link {
    color: #FFF;
font-family: 'getVolp';
padding: 32px 150px;
border-radius: 100px;
border: 10px solid #FFF;
background-color: var(--blue);
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: var(--gradient);
}

.qanda__phone {
    display: none;
}

@media (max-width: 1600px) {
    .qanda__item {
        padding: 60px;
        font-size: 38px;
    }

    .qanda__list {
        background-size: 32%;
    }

    .qanda__link {
        font-size: 60px;
        padding: 22px 110px;
    }
}

@media (max-width: 1400px) {
    .qanda__item svg {
        width: 120px;
    }

    .qanda__item {
        padding: 30px;
        font-size: 28px;
    }
}

@media (max-width: 1000px) {
    .qanda__link {
        font-size: 40px;
        padding: 12px 60px;
        align-self: flex-start;
    }
}

@media (max-width: 600px) {
    .qanda__list {
        display: none;
    }

    .qanda__phone {
        display: block;
        position: relative;
    }

    .qanda__list-pItem-text {
        max-width: 180px;
        text-align: center;
        font-size: 15px;
        color: var(--white);
        position: absolute;
        
    }

    .qanda__list-pItem:not(:last-child) {
        margin-bottom: 50px;
        padding: 30px;
    }

    .qanda__list-pItem {
        padding: 70px;
        position: relative;
    }

    .qanda__list-pItem:nth-child(1) .qanda__list-pItem-text {
        left: 20px;
        top: 30px;
        transform: rotate(346deg);
    }
    .qanda__list-pItem:nth-child(2) .qanda__list-pItem-text {
        right: 7px;
        top: 30px;
        transform: rotate(13deg);
        max-width: 120px;
    }
    .qanda__list-pItem:nth-child(3) .qanda__list-pItem-text {
        left: 0px;
        top: 70px;
        transform: rotate(356deg);
    }

    .qanda__list-phone {
        padding: 0 0 25px 0;
        position: relative;
        text-align: -webkit-center;
        background-image: url('../img/qanda/qanda__bg-phone.svg');
        background-position: 50% 30%;
        background-repeat: no-repeat;
        
    }

    .qanda__link {
        font-size: 20px;
        padding: 7px 60px;
        border-width: 5px;
        position: absolute;
        bottom: 110px;
        left: calc(50% - 100px); 
    }
}