.thankYou__title {
    font-family: 'getVolp';
    font-size: 36px;
}

.mainTest .container {
    display: flex;
    align-items: center;
}

.thankYou__img {
    width: 50%;
    height: 250px;
    background-image: url('../img/thankYou/thank.jpg');
    /* border-radius: 100px; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.mainTest {
    min-height: 200px;
}

@media (max-width:900px) {
    .mainTest .container {
        flex-direction: column;
    }

    .thankYou__title {
        margin-bottom: 35px;
    }

    .thankYou__img {
        width: 100%;
    }
}

@media (max-width: 530px) {
    .thankYou__title {
        font-size: 20px;
    }

    .thankYou__img {
        height: 170px;
    }
}