.thisis__title {
    color: var(--white);
    font-family: 'getVolp';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: normal;
    width: 100%;
    background-color: var(--lightBlue);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 15px;
}

.thisis__content {
    padding: 80px 0;
    text-align: center;
}

.thisis__title span {
    margin-right: 20px;
    display: inline;
    width: 37%;
}

.thisis__title svg {
    width: 100%;
}

.thisis__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.thisis__item {
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 53px 53px 74px;
    border-radius: 32px;
    background-color: var(--white);
    box-shadow: 20px 20px 0px 0px var(--lightBlue);
    -webkit-box-shadow: 20px 20px 0px 0px var(--lightBlue);
    -moz-box-shadow: 20px 20px 0px 0px var(--lightBlue);
    justify-content: space-between;

}

.thisis__item:nth-child(1),
.thisis__item:nth-child(2),
.thisis__item:nth-child(3) {
    margin-bottom: 65px;
}

.thisis__item:nth-child(5) {
    margin-left: -16%;
}


.thisis__item-title {
    color: var(--blueText);
    text-align: center;
    font-family: 'getVolp';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
}

.thisis__item-title-small {
    font-size: 30px;
}

.thisis__item-img {
    max-height: 450px;
    margin-bottom: 40px;
}

.thisis__submit {
    color: var(--white);
    font-family: 'getVolp';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 25px 15px;
    border: 7px solid var(--white);
    border-radius: 100px;
    background: var(--gradient);
}

.thisis__content {
    position: relative;
    overflow: hidden;
}

.thisis__content::after {
    content: '';
    position: absolute;
    left: -200px;
    top: 0;
    background-image: url(../img/thisis/thisis__newYear.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    width: 70%;
    height: 300px;
    transform: rotate(345deg);
}

@media (max-width: 1600px) {
    .thisis__item-title {
        font-size: 30px;
        line-height: 40px;
    }

    .thisis__item-title-small {
        font-size: 22px;
        line-height: 33px;
    }

    .thisis__item {
        padding: 33px 33px 54px;
    }
}

@media (max-width: 1000px) {
    .thisis__item {
        width: 43%;
    }

    .thisis__content::after {
        width: 100%;
        left: 0;
    }

    .thisis__item:nth-child(1), .thisis__item:nth-child(2), .thisis__item:nth-child(3), .thisis__item:nth-child(4) {
        margin-bottom: 45px;
    }

    .thisis__item:nth-child(5) {
        margin: 0;
    }

    .thisis__submit {
        padding: 20px;
        font-size: 28px;
    }
}

@media (max-width: 600px) {
    .thisis__title span {
        margin-right: 20px;
        display: inline;
        width: 50%;
    }

    .thisis__title {
        font-size: 25px;
        padding: 0;
    }

    .thisis__item {
        width: 80%;
    }

    .thisis__submit {
        padding: 18px;
        font-size: 24px;
    }
}