:root {
  --darkBlue: #285FA0;
  --white: #fff;
  --blue: #94B8EF;
  --lightBlue: #5C87C9;
  --blueText: #285497;
  --gradient: linear-gradient(180deg, rgba(255, 157, 0, 1) 0%, rgba(247, 60, 92, 1) 100%);
  --black: #000;
  --darkgradient: linear-gradient(180deg, rgb(255, 98, 0) 0%, rgba(247, 60, 92, 1) 100%);
}

@font-face {
  font-family: 'getVolp';
  src: url('../../fonts/GetVoIPGrotesque.woff2') format('woff2'),
    url('../../fonts/GetVoIPGrotesque.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* global */

body {
  background-color: var(--blue);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

* {
  /* font-family: "Raleway", sans-serif; */
  margin: 0;
  font-family: "getVolp", 'Arial Black', Gadget, sans-serif;

}

a {
  text-decoration: none;
}

h3,
p,
ul,
li,
img {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1600px;
  padding: 0 30px;
  margin: 0 auto;
}



.map {
  height: 700px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}


@media (max-width: 650px) {
  .container {
    padding: 0 15px;
  }

  .map {
    height: 300px;
  }
}

body {
  background: #94B8EF;
}

body * {
  margin: 0;
  padding: 0;
}

.linkToHome {
  position: absolute;
  top: 15px;
  right: 30px;
}

.mainTest {
  padding: 120px 70px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.mainTest .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-items: center;
  /* margin: auto; */
  padding: 72px 85px 60px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 50px;
  min-height: 900px;
}

.mainTest__title-con {
  display: flex;
  align-items: flex-end;
  margin-bottom: 150px;
}

.mainTest__title-con svg {
  margin-right: 78px;
}

.mainTest__title {
  color: #285497;
  text-align: left;
  font-size: clamp(16px, 3vw, 64px);
  font-style: normal;
  font-weight: 700;
  line-height: 109.375%;
}

.mainTest__title span {
  font-size: clamp(30px, 6vw, 120px);
  line-height: 100%;
  display: block;
}


.mainTest__text {
  color: #285497;
  font-size: clamp(20px, 3vw, 48px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 150px;
}

.mainTest__text span {
  color: #FAFBFE;
  padding: 4px 5px;
  background-color: #285497;
}

.mainTest__link {
  color: #FFF;
  font-size: clamp(16px, 3vw, 48px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 43px 68px;
  background: linear-gradient(180deg, rgba(255, 157, 0, 1) 0%, rgba(247, 60, 92, 1) 100%);
  border-radius: 100px;

}


.testContainer {
  justify-content: space-between;
}

.test {
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.inputsDiv {
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 86px;
}

.inputDiv {
  width: 40.5%;
  background-color: #5C87C9;
  color: #FFF;
  text-align: center;
  font-size: clamp(16px, 1.8vw, 32px);
  font-style: normal;
  position: relative;
  padding: 52px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-weight: 700;
  line-height: 32px;
  /* 100% */
}

.inputRadio::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.test-quation {
  color: #285497;
  text-align: center;
  font-size: clamp(28px, 3vw, 70px);
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 60px;
}

.inputDiv:not(:last-child) {
  margin-bottom: 40px;
}

.inputDiv {
  position: relative;
  cursor: pointer;
  transition: .3s;
  user-select: none;
}

.inputDiv input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.inputSpan {
  position: absolute;
  top: calc(50% - 17.5px);
  left: 17px;
  height: 35px;
  width: 35px;
  background-color: transparent;
  border-radius: 100%;
  border: 3px solid #fff;
  /* белый аутлайн */
}

.inputDiv input:checked+.inputSpan {
  background-color: transparent;
  /* при желании можно указать другой цвет чекбокса при выборе */
}

.checked {
  outline: 5px solid #5C87C9;
  outline-offset: 3px;
}

.inputSpan:after {
  content: "";
  position: absolute;
  display: none;
}

.inputDiv input:checked+.inputSpan:after {
  display: block;
}

.inputDiv .inputSpan:after {
  left: calc(50% - 7.5px);
  top: calc(50% - 7.5px);
  width: 15px;
  border-radius: 100%;
  height: 15px;
  border: solid #fff;
  background: #fff;
  /* border-width: 0 3px 3px 0; */
}

.testBottom {
  position: relative;
}

.backBtn,
.nextBtn {
  transition: .5s;
  text-align: center;
  padding: 15px 35px;
  border-radius: 20px;
  font-size: clamp(15px, 2vw, 36px);
  font-style: normal;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(180deg, #F73C5C 0%, #FF9D00 100%);
  line-height: 40px;
  /* 111.111% */
}

.countTitle {
  color: #285497;
  text-align: center;
  font-size: clamp(20px, 3vw, 40px);
  margin: 0 53px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  /* 150% */
}

.backBtn:disabled,
.nextBtn:disabled {
  background: #D9D9D9;
  color: #909baa;
}


.result__title {
  color: #285497;
  text-align: center;
  font-size: clamp(26px, 5.4vw, 55px);
  font-style: normal;
  margin-bottom: 60px;
  font-weight: 700;
  line-height: 104.167%;
}


.result__text {
  color: #285497;
  text-align: center;
  font-size: clamp(16px, 4vw, 42px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 50px;
}

.result__reiting {
  color: #FFF;
  text-align: center;
  font-size: clamp(15px, 4vw, 40px);
  padding: 5px 20px;
  border-radius: 15px;
  margin-bottom: 40px;
  background: #285497;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  /* 175% */
}

.result__progressCon {
  width: 70%;
  height: 95px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 60px;
  outline-offset: 4px;
  outline: 3px solid #285497;
  background: linear-gradient(90deg, #F00 0%, rgba(255, 46, 0, 0.82) 9.79%, #FF5C00 20.21%, #FAFF00 49.9%, #70FF00 87.4%, #05FF00 100%);
}

.result__progressCon::before,
.result__progressCon::after {
  content: '0';
  position: absolute;
  color: #285497;
  text-align: left;
  font-size: clamp(24px, 7vw, 96px);
  left: -14%;
  top: 0;
  font-style: normal;
  font-weight: 700;
  line-height: 96px;
  /* 100% */
}

.result__span {
  height: 130%;
  margin-top: -2%;
  width: 10px;
  display: block;
  position: relative;
  border-left: 3px solid #285497;
  border-right: 3px solid #285497;
}

.result__span::before,
.result__span::after {
  content: '';
  border: 10px solid transparent;
  border-top: 15px solid #285497;
  left: -7.5px;
  top: -16px;
  position: absolute;
}

.result__span::after {
  border-top: 10px solid transparent;
  border-bottom: 15px solid #285497;
  top: unset;
  left: unset;
  right: -7.5px;
  bottom: -16px;
}

.result__link {
  color: #FFF;
  padding: 30px 70px;
  border-radius: 100px;
  background: linear-gradient(180deg, #FF9D00 0%, #F73C5C 100%);
  font-size: clamp(18px, 2vw, 40px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.result__link:nth-child(1) {
  margin-right: 50px;
}

.mainTest__title-con-phone {
  display: none;
}

.proTestDiv {
  display: flex;
  width: -webkit-fill-available;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border: none;
}

.proTestDiv .inputDiv {
  width: 450px;
  border: none;
}

.result__progressCon::after {
  content: '5';
  left: unset;
  right: -14%;
}

.result__div {
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1600px) {
  .mainTest .container {
    min-height: 600px;
  }

  .inputDiv {
    padding: 35px 50px;
  }
}

@media (max-width: 1200px) {
  .mainTest .container {
    padding: 30px;
  }

  .mainTest__title-con svg {
    width: 20%;
    height: auto;
    margin-right: 30px;
  }

  .mainTest__title-con {
    margin-bottom: 50px;
  }

  .mainTest__text {
    margin-bottom: 50px;
  }

  .mainTest__link {
    padding: 20px 30px;
  }

  .inputDiv {
    width: 100%;
  }


  .result__progressCon {
    height: 65px;
  }

  .result__links {
    display: flex;
    flex-direction: column;
  }

  .result__link:nth-child(1) {
    margin: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .mainTest {
    padding: 72px 10px 10px;
  }

  .mainTest__title-con {
    display: none;
  }

  .mainTest__title-con-phone {
    display: block;
  }

  .mainTest__title-con-phone svg {
    width: 40px;
    height: auto;
  }

  .mainTest .container {
    min-height: 510px;
    width: -webkit-fill-available;
    border-radius: 20px;
    padding: 25px 10px;
    background: rgba(255, 255, 255, 0.95);
  }

  .linkToHome svg {
    width: 30px;
    height: auto;
  }

  .linkToHome {
    right: 10px;
    top: 10px;
  }

  .inputSpan {
    left: 8px;
    top: calc(50% - 10.5px);
    width: 21px;
    height: 21px;
    border: 1px solid #fff;
  }

  .inputDiv {
    padding: 15px 30px;
    line-height: 22px;
    border-radius: 10px;
    width: 80%;
  }

  .inputDiv:not(:last-child) {
    margin-bottom: 20px;
  }

  .test-quation {
    margin-bottom: 25px;
  }

  .countTitle {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: -50px;
    margin: 0;
  }

  .backBtn,
  .nextBtn {
    line-height: 1.3;
    padding: 5px 15px;
  }

  .backBtn {
    margin-right: 30px;
  }

  .result__title {
    margin-bottom: 30px;
  }

  .result__reiting {
    padding: 6px 16px;
    line-height: 1.4;
    border-radius: 10px;
    margin-bottom: 18px;
  }

  .result__progressCon {
    height: 33px;
    border-radius: 5px;
    outline: 1px solid #285497;
    outline-offset: 2px;
  }

  .result__span {
    width: 3px;
    border-width: 1px;
  }

  .result__span::before,
  .result__span::after {
    content: '';
    border: 5px solid transparent;
    border-top: 7px solid #285497;
    left: -4.5px;
    top: -8px;
    position: absolute;
  }

  .result__span::after {
    border-top: 5px solid transparent;
    border-bottom: 7px solid #285497;
    top: unset;
    left: unset;
    right: -4.5px;
    bottom: -8px;
  }

  .result__link {
    padding: 10px 30px;
  }

  .result__link:nth-child(1) {
    margin-bottom: 20px;
  }

  .proTestDiv .inputDiv {
    width: 100%;
    font-size: 24px;
    border: none;
  }

  .proTestDiv .countTitle {
    position: static;
    transform: none;
  }
}